/* .footer {
    margin-top: 30px;
    background: #222;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */

.footer {
    /* padding: 30px; */
    margin-top: 30px;
    background: #222;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    /* margin-top: auto; Đảm bảo footer luôn ở cuối */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff6f61;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ff6f61;
}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #444;
}
