.sort-bar {
    display: flex;
    /* justify-content: flex-end;  */ /*Đẩy về bên phải */
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.sort-bar label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.sort-bar select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.sort-bar select:focus {
    outline: none;
    border-color: #007bff;
}
