body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --body-regular: Roboto;
  
    /* font sizes */
    --body-regular-size: 14px;
    --h5-regular-size: 16px;
  
    /* Colors */
    --primary-6: #1890ff;
    --character-primaryinverse: #fff;
    --character-disabled-placeholder-25: rgba(0, 0, 0, 0.25);
    --character-title-85: rgba(0, 0, 0, 0.85);
    --hitbox: rgba(255, 255, 255, 0);
    --neutral-5: #d9d9d9;
  
    /* Gaps */
    --gap-5xs: 8px;
    --gap-9xs: 4px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-251xl: 270px;
    --padding-10xs: 3px;
    --padding-7xs: 6px;
    --padding-2xs: 11px;
  
    /* Border radiuses */
    --br-11xs: 2px;
  
    /* Effects */
    --drop-shadow-button-primary: 0px 2px 0px rgba(0, 0, 0, 0.04);
  }