/* Định dạng form quên mật khẩu */
.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Tiêu đề */
  .forgot-password-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Mô tả */
  .forgot-password-description {
    font-size: 16px;
    color: #666;
  }
  
  /* Ô input */
  .forgot-password-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Nút gửi OTP */
  .forgot-password-button {
    width: 98%;
    padding: 10px;
    background-color:  #ee394b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-button:hover {
    background-color:  #c32f3d;
  }
  
  /* Thông báo thành công */
  .forgot-password-success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Thông báo lỗi */
  .forgot-password-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .forgot-password-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }