.order-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    margin: auto;
    padding: 20px 0;
}

.empty-message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #777;
    margin-top: 50px;
    font-style: italic;
}
