

.table-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 8px;
}

.title2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.pagination-content2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.right {
  display: flex;
  align-items: center;
}

.filter-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.icon-wrapper {
  margin-right: 8px;
}

.wrapper-icon {
  width: 14px;
  height: 14px;
}

.text6 {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text6:hover {
  background-color: #0056b3;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.wrapper {
  padding: 3px 50px 3px 5px; /* added padding to fit the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.wrapper:focus {
  border-color: #007bff;
  outline: none;
}

.input-addonicon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-wrapper1 {
  width: 16px;
  height: 16px;
}

.button {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.icon-wrapper2 {
  margin-right: 8px;
}

.wrapper-icon1 {
  width: 16px;
  height: auto;
}

.text1 {
  font-size: 16px;
  color: white;
  text-decoration: none;
  
}
.table{

  display: flex;
  /* width: 100%; */
  /* padding-left: 8px; */
  padding-left: 20px;
  padding-right: 20px;


}

.order-detail-list-product-title{
  margin-top: 30px;
  padding-left: 20px;
}
/* .table-user{
 width: 100%;
  margin-left: 8px;
} */