.slider-frame-icon {
  position: absolute;
  top: 17px;
  left: 24px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.slider-ant-design-pro {
  position: absolute;
  top: 16px;
  left: 68px;
  line-height: 32px;
  font-weight: 500;
}
.slider-logo {
  height: 64px;
  width: 208px;
  position: relative;
  background-color: var(--conditional-sider-background);
  display: none;
  white-space: nowrap;
}
.slider-icon-wrapper {
  width: 30px;
  height: 30px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 62px;
}
.slider-title-wrapper {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg,
.slider-inner-wrapper,
.slider-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-inner-wrapper {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper1 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 112px;
}
.slider-inline-menu-itemtop-levelleg1,
.slider-inner-wrapper1,
.slider-title-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper1 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg1,
.slider-inner-wrapper1 {
  padding: var(--padding-4xs) var(--padding-21xl) var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg1 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper2 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 112px;
}
.slider-inline-menu-itemtop-levelleg2,
.slider-inner-wrapper2,
.slider-title-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper2 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg2,
.slider-inner-wrapper2 {
  padding: var(--padding-4xs) var(--padding-21xl) var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg2 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper3 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 125px;
}
.slider-inline-menu-itemtop-levelleg3,
.slider-inner-wrapper3,
.slider-title-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper3 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg3,
.slider-inner-wrapper3 {
  padding: var(--padding-4xs) 27px var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg3 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper4 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 107px;
}
.slider-title-wrapper4 {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg4,
.slider-inner-wrapper4,
.slider-title-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-inner-wrapper4 {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg4 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper5 {
  width: 12px;
  height: auto;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 122px;
}
.slider-inline-menu-itemtop-levelleg5,
.slider-inner-wrapper5,
.slider-title-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper5 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg5,
.slider-inner-wrapper5 {
  padding: var(--padding-4xs) 30px var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg5 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper6 {
  width: 12px;
  height: auto;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-div5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 104px;
}
.slider-title-wrapper6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.slider-menu-iconant-menu-submenu-arr {
  width: 10px;
  height: 9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.slider-menu-iconant-menu-submenu-arr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.5px 0 0;
}
.slider-inner-wrapper6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) 0;
  gap: 20px;
}
.slider-inline-menu-itemtop-levelleg6,
.slider-parent,
.slider-submenu {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-parent {
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.slider-inline-menu-itemtop-levelleg6,
.slider-submenu {
  background-color: var(--conditional-sider-background);
  flex-direction: column;
}
.slider-submenu {
  border: 0;
  height: 88px;
  width: auto;
  outline: 0;
  padding: var(--padding-4xs) var(--padding-21xl);
  box-sizing: border-box;
  font-family: var(--body-regular);
  font-size: var(--body-regular-size);
  color: var(--character-title-85);
}
.slider-inline-menu-itemtop-levelleg6 {
  overflow: hidden;
  gap: var(--gap-5xs);
}
.slider-icon-wrapper7 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 109px;
}
.slider-title-wrapper7 {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg7,
.slider-inner-wrapper7,
.slider-title-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-inner-wrapper7 {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg7 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper8 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 83px;
}
.slider-title-wrapper8 {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg8,
.slider-inner-wrapper8,
.slider-title-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-inner-wrapper8 {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg8 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper9 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 88px;
}
.slider-title-wrapper9 {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg9,
.slider-inner-wrapper9,
.slider-title-wrapper9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-inner-wrapper9 {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg9 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper10 {
  width: 18px;
  height: auto;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 114px;
}
.slider-inline-menu-itemtop-levelleg10,
.slider-inner-wrapper10,
.slider-title-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper10 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg10,
.slider-inner-wrapper10 {
  padding: var(--padding-4xs) 38px var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg10 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper11 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title5 {
  position: relative;
  line-height: 22px;
}
.slider-inline-menu-itemtop-levelleg11,
.slider-inner-wrapper11,
.slider-title-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper11 {
  overflow: hidden;
  gap: var(--gap-3xs);
}
.slider-inline-menu-itemtop-levelleg11,
.slider-inner-wrapper11 {
  padding: var(--padding-4xs) 10px var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg11 {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.slider-icon-wrapper12 {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
}
.slider-icon-wrapper-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.slider-title6 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 100px;
}
.slider-inner-wrapper12,
.slider-title-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-title-wrapper12 {
  overflow: hidden;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.slider-inner-wrapper12 {
  flex: 1;
  padding: var(--padding-4xs) 0;
}
.slider-inline-menu-itemtop-levelleg12 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.slider-inline-menu-itemtop-levelleg12,
.slider-menu,
.slider-menulogo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-menu {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--body-regular-size);
  color: var(--character-title-85);
}
.slider-menulogo {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 18px;
  color: var(--primary-6);
  font-family: var(--body-regular);
}
.slider-inner-wrapper-icon {
  height: 40px;
  width: 176px;
  position: relative;
}
.slider-sider-trigger,
.slider-siderdefault {
  background-color: var(--conditional-sider-background);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-sider-trigger {
  box-shadow: var(--border-divider-divider);
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.slider-siderdefault {
  width: 100%;
  position: relative;
  box-shadow: var(--drop-shadow-015);
  flex-direction: column;
  gap: 280px;
  line-height: normal;
  letter-spacing: normal;
}

.slider-inline-menu-itemtop-levelleg2.active {
  background-color: #e0e0e0; /* Example background color for active state */
  color: #000; /* Example text color for active state */
}

.slider-inline-menu-itemtop-levelleg5.active {
  background-color: #e0e0e0; /* Example background color for active state */
  color: #000; /* Example text color for active state */
}