body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --body-regular: Roboto;
    --footnote-system-monospace: "Roboto Mono";
  
    /* font sizes */
    --body-regular-size: 14px;
    --footnote-system-monospace-size: 12px;
  
    /* Colors */
    --character-title-85: rgba(0, 0, 0, 0.85);
    --hitbox: rgba(255, 255, 255, 0);
    --character-primaryinverse: #fff;
    --dust-red-5: #ff4d4f;
    --neutral-5: #d9d9d9;
  
    /* Gaps */
    --gap-xl: 20px;
  
    /* Paddings */
    --padding-xs: 12px;
    --padding-12xs: 1px;
    --padding-5xs: 8px;
    --padding-9xs: 4px;
  }