body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --footnote-description: Roboto;
    --font-inter: Inter;
  
    /* font sizes */
    --footnote-description-size: 12px;
    --body-regular-size: 14px;
    --h5-bold-size: 16px;
  
    /* Colors */
    --color-black: #000;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-5xs: 8px;
  }